node_modules
# Keep environment variables out of version control
.env

/generated/prisma
node_modules/
generated-certificates/*
!generated-certificates/.gitkeep
uploads/*
!uploads/.gitkeep
prisma/migrations/
.DS_Store